*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.titulos h1{
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulos img{
    float: left;
    justify-content: left;
    width: 2rem;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.contents{
    text-align: left;
    justify-content: left;
}


.texts p{
    color: #000;
    font-family: Commissioner;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texts{
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.figures{
    display: flex;
    justify-content: center;
  }

.figures img{
    width: 25rem;
}


@media(min-width: 900px) {

    .sobre{
        background: #fff;
    }

    
    .titulos h1{
        color: #000;
        font-family: Montserrat;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .titulos img{
        float: left;
        justify-content: left;
        width: 2rem;
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    .contents{
        text-align: left;
        justify-content: left;
    }
    

    .texts p{
        color: #000;
        font-family: Commissioner;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .texts{
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
 
    .figures{
        display: flex;
        justify-content: center;
      }
    
    .figures img{
        width: 50rem;
    }
}