*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.equip{
    background: #F5F0F0;
}

.tituloe h1{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tituloe img{
    float: left;
    justify-content: left;
    width: 2rem; 
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.contente{
    text-align: left;
    justify-content: left;
}

.texte{
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.texte h1{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texte p{
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ard{
    display: flex;
    justify-content: center;
}

.ard img{
    width: 15rem;
}

.mq{
    display: flex;
    justify-content: center;
}

.mq img{
    width: 20rem;
}

.lcd{
    display: flex;
    justify-content: center;
}

.lcd img{
    width: 15rem;
}

.ky{
    display: flex;
    justify-content: center;
}

.ky img{
    width: 15rem;
}

.gsm{
    display: flex;
    justify-content: center;
}

.gsm img{
    width: 15rem;
}

.lm{
    display: flex;
    justify-content: center;
}

.lm img{
    width: 15rem;
}

.blue{
    display: flex;
    justify-content: center;
}

.blue img{
    width: 20rem;
}

@media(min-width: 900px) {
    
    .tituloe h1{
        color: #000;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .tituloe img{
        float: left;
        justify-content: left;
        width: 2rem; 
        margin-top: 0.2rem;
        margin-left: 1rem;
    }

    .contente{
        text-align: left;
        justify-content: left;
    }

    .texte{
        margin-top: 0.2rem;
        margin-left: 1rem;
    }

    .texte h1{
        color: #000;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .texte p{
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .ard{
        display: flex;
        justify-content: center;
    }

    .ard img{
        width: 30rem;
    }

    .mq{
        display: flex;
        justify-content: center;
    }

    .mq img{
        width: 30rem;
    }

    .lcd{
        display: flex;
        justify-content: center;
    }

    .lcd img{
        width: 30rem;
    }

    .ky{
        display: flex;
        justify-content: center;
    }

    .ky img{
        width: 30rem;
    }

    .gsm{
        display: flex;
        justify-content: center;
    }

    .gsm img{
        width: 30rem;
    }

    .lm{
        display: flex;
        justify-content: center;
    }

    .lm img{
        width: 30rem;
    }

    .blue{
        display: flex;
        justify-content: center;
    }

    .blue img{
        width: 30rem;
    }

    
}