*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulopa h1{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulopa img{
    float: left;
    justify-content: left;
    width: 2rem;  
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.contentpa{
    text-align: left;
    justify-content: left;
}

.textpa{
    margin-top: 0.2rem;
    margin-left: 1rem;

    max-width: 50rem;
    text-align: center;
}

.imagem-texto {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-direction: row-reverse;
}

.textpa li{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textpa p{
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagem-texto{
    flex-direction: column;
}

.figurepa{
    display: flex;
    justify-content: center;
  }

.figurepa img{
    width: 20rem;
}


@media(min-width: 900px) {

    .publico{
        background: #F5F0F0;
        width: 1rem;
    }
    
    .titulopa h1{
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

   
    .titulopa img{
        float: left;
        justify-content: left;
        width: 2rem;  
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    .contentpa{
        text-align: left;
        justify-content: center;
    }

    .textpa{
        margin-top: 0.2rem;
        margin-left: 1rem;

        max-width: 50rem;
        text-align: center;
    }
    
    .textpa li{
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .textpa p{
        color: #000;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .pt2{
        text-align: right;
        justify-content: right;
    }

    .pt2 li{
        color: #000;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    
    .figurepa{
        display: flex;
        justify-content: center;
      }
    
    .figurepa img{
        width: 40rem;
    }

    .imagem-texto{
        flex-direction: row;
    }
}